@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.cabecalho__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

.cabecalho__menu__lista {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cabecalho__menu__lista__item {
    text-decoration: none;
    font-family: "Inter", sans-serif;
}