:root {
    --text-color: #667085;
    --main-color: #8E2424;
    --second-color: #101828;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.navegacao__menu {
    margin-right: 20rem;
}

.navegacao__menu a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1rem;
}

button {
    padding: 0.8rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    font-weight: 500;
    background: none;
    color: var(--text-color);
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
}

#btn-cadastrar {
    background-color: var(--main-color);
    color: #FFFFFF;
}

.cabecalho {
    text-align: center;
    padding: 6rem 0;
}

.cabecalho span {
    font-weight: 600;
    color: var(--main-color);
}

.cabecalho h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 1.5rem 0;
}

.cabecalho p {
    padding-top: 0.75rem;
    font-size: 1.25rem;
    color: var(--text-color);
    line-height: 30px;
}